.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.SearchInput {
  width: 287px;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 2.22rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.SearchInput:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 7.4rem;
  padding: .55rem 0;
  border-radius: 10px;
  background-color: rgb(55,55,55);
  text-align: center;
  font-size: 1rem;
  transition: background-color .25s;
  border: 0;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: black;
}